{% extends 'base.html' %}

{% block page_contest %}
<div class="container">
	{% for errs in form.errors.values() %}
	{% for e in errs %}
	<div class="alert alert-danger" role='alert'>{{e}}</div>
	{% endfor %}
	{% endfor %}
	<h1>编辑公告</h1>
	<hr/>
	<form class="form-horizontal col-md-6" action="{{url_for('edit_post', id = pid)}}" method="POST">
		{{ form.hidden_tag() }}
		<div class="form-group">
			<label class="col-sm-2">
				{{form.title.label}}
			</label>
			<div class="col-sm-10">
				{{form.title(class="form-control")}}
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2">
				{{form.author.label}}
			</label>
			<div class="col-sm-10">
				{{form.author(class_="form-control")}}
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2">
				{{form.content.label}}
			</label>
			<div class="col-sm-10">
				{{form.content()}}
				<textarea class="form-control" rows="15" id="markdown"></textarea>
				<small>Markdown supportted.</small>
			</div>
		</div>

		<div class="col-sm-2 form-group text-center">
			{{form.submit(class="btn btn-default")}}
		</div>
	</form>
	<div class="col-md-6">
		<b>正文预览</b>
		<p id="preview"></p>
	</div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
	<script src="//cdnjs.cloudflare.com/ajax/libs/markdown.js/0.5.0/markdown.min.js"></script>
	<script>
'use strict';

function update() {
	const md = $(this).val();
	const html = markdown.toHTML(md, 'Maruku');
	$('#preview').html(html);
	$('#content').val(html);
}

$('#markdown')
	.on('change', update)
	.on('keyup', update);

$(() => {
	$('#content').hide();
})
	</script>
{% endblock %}

