{% extends 'base.html' %}

{% block page_contest %}
<div class="container">
	{% for errs in form.errors.values() %}
	{% for e in errs %}
	<div class="alert alert-danger" role='alert'>{{e}}</div>
	{% endfor %}
	{% endfor %}

	<h1>编辑队伍做题情况</h1>
	<hr/>
	<form class="form-horizontal" action="{{url_for('edit_team_summary', id = tid, cid = cid)}}" method="POST">
		{{ form.hidden_tag() }}
		<div class="col-md-6">
			<h3> 基本信息 </h3> </br>
		<div class="form-group">
			<label class="col-sm-2"> 
				{{form.team_name.label}}
			</label>
			<div class="col-sm-10">
				{{form.team_name(class="form-control")}}
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2"> 
				{{form.rank.label}}
			</label>
			<div class="col-sm-10">
				{{form.rank(class_="form-control")}}
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2"> 
				{{form.team_member1.label}}
			</label>
			<div class="col-sm-10">
				{{form.team_member1(class_="form-control", onchange_="test()")}}
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2"> 
				{{form.team_member2.label}}
			</label>
			<div class="col-sm-10">
				{{form.team_member2(class_="form-control")}}
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2"> 
				{{form.team_member3.label}}
			</label>
			<div class="col-sm-10">
				{{form.team_member3(class_="form-control")}}
			</div>
		</div>
			{{form.submit(class="btn btn-default form-control")}}
        </div>

		<div class="col-md-6">
            <h3> 做题情况 </h3> </br>
		<table class="table">

			<tr>
				<th> </th>
				{% for i in range(countp) %}
				<th> {{loop.index | chr2}} </th>
				{% endfor %}
			</tr>
			<tr>
				<th id="member1" nowrap> 队员A </th>
				<div class="form-group hidden">
					{% for i in range(countp) %}
					<td>
						{{form.A.entries[i](class_="form-control")}}
					</td>
					{% endfor %}
				</div>
			</tr>

			<tr>
				<th id="member2" nowrap> 队员B </th>
				<div class="form-group hidden">
					{% for i in range(countp) %}
					<td>
						{{form.B.entries[i](class_="form-control")}}
					</td>
					{% endfor %}
				</div>
			</tr>

			<tr>
				<th id="member3" nowrap> 队员C </th>
				<div class="form-group hidden">
					{% for i in range(countp) %}
					<td>
						{{form.C.entries[i](class_="form-control")}}
					</td>
					{% endfor %}
				</div>
			</tr>

			<tr>
				<th nowrap> 已经AC </th>
				<div class="form-group hidden">
					{% for item in form.AC %}
					<td class="col-sm-1">
						{{item(class_="form-control")}}
					</td>
					{% endfor %}
				</div>
			</tr>

			<tr>
				<th nowrap> 还未AC </th>
				<div class="form-group hidden">
					{% for item in form.NA %}
					<td>
						{{item(class_="form-control")}}
					</td>
					{% endfor %}
				</div>
			</tr>

			<tr>
				<th nowrap> 赛后AC </th>
				<div class="form-group hidden">
					{% for item in form.SC %}
					<td>
						{{item(class_="form-control")}}
					</td>
					{% endfor %}
				</div>
			</tr>

		</table>
		</div>

	</form>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
function work(i) {
    for (i = 1; i <= 3; ++i) {
        a = $("#team_member" + i)[0];
        $("#member" + i)[0].textContent = a.options[a.value].textContent;
    }
}
$(document).ready(function() {
    work();
    for (i = 1; i <= 3; ++i)
       $("#team_member" + i)[0].onchange = work; 
});
</script>

{% endblock %}
