{% extends 'base.html' %}

{% block page_contest %}
<style>
#add, .edit {
	margin-left: 2em;
	opacity: 0.2;
	transition: opacity 0.2s ease;
}
#add:hover, .edit:hover {
	opacity: 1;
}
</style>
<div class="container">
	<h3 class="center-text">公告
			{% if logged_in %}
		<button class="btn btn-warning" id="add">添加</button>
			{% endif %}
	</h3>
		{% for post in posts %}
		<div class="post">
			<h3>{{ post.title }}
				{% if logged_in %}
			<button class="btn btn-warning edit" id={{ post.id }}>编辑</button>
			{% endif %}
			</h3>
			<p>发布者：<b>{{ post.author }}</b></p>
			<p class="content">{{ post.content | safe }}</p>
		</div>
		{% endfor %}
</div>
{% endblock %}
{% block scripts %}
{{ super()}}
	<script src="//cdnjs.cloudflare.com/ajax/libs/marked/0.3.12/marked.min.js"></script>
	<script>
'use strict';
$('#add').on('click', () => {
	window.location.href = '{{ url_for("edit_post") }}';
});
$('.content').each((i, e) => {
	const md = $(e).html();
	const html = marked(md);
	$(e).html(html);
});
$('.edit').on('click', function() {
	const id = $(this).attr('id');
	window.location.href = `{{ url_for("edit_post") }}/${id}`;
});
	</script>
{% endblock %}
